.conteiner-cabecalho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    background-color:#005C82;
    padding: 50px;
    max-width: 100%;
}

.logo{
    height: 150px;
}

ul {
    display: flex;
    list-style: none;
    gap: 20px;
}
ul li a {
    color: rgb(247, 247, 247);
font-weight: 500;

}

ul li a:hover {
    color:rgba(247, 247, 247, 0.733) ;
    transition: 0.5s;
 
}

.icon-lupa i {
    color: white;
    font-size: 30px;
}

.icon-lupa i:hover {
    color: rgba(247, 247, 247, 0.692);
}